.field > textarea{
    min-height: var(--textarea);
}

.field:has(i):has(:is(input, textarea):is(:focus,:valid)){
    > p{
        opacity: 0.5;
    }
}
.field:has(i):has(:is(input, textarea):is(:valid)){
    > p{
        opacity: 0;
        transition: all 0ms;
    }
}
.field:not(:has(i)):has(:is(input, textarea):is(:focus,:valid)){
    > p{
        top: 0.3em;
        font-size: var(--size-small);
    }
}

@media (min-width: 500px){
    .field:hover{
        border-color: var(--accent);
    }
}