/* ===============> base for all buttons <=============== */

:is(.primary, .accent, .warn, .dull, .border, .text){
    position: relative;

    overflow: hidden;
    user-select: none;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: var(--space-4) var(--space-8);
    gap: var(--space-5);
    
    background: none;
    outline: var(--thickness) solid transparent; border: none;
    text-decoration: none;
    font-size: var(--size-5);
    border-radius: var(--radius);

    font-weight: 500;
    color: white;
    > *{ color: white; }
    > .label{text-align: center;}
    > .icon{
        font-size: var(--size-6);
        color: var(--shd);
    }
    > .info{
        grid-area: label;
        color: var(--shd);
        font-size: var(--size-4);
    }

    transition: all var(--delay);
}

/* ===============> base for specific buttons <=============== */

.primary{ background: var(--primary); }
.dull{ background: var(--mg); }
.accent, .text{ 
    color: var(--txt);
    > * { color: var(--txt); }
}
.accent{ background: var(--accent);}
.warn{ background: var(--error); }
.border{ border: var(--thickness) solid var(--fg); }

/* ===============> base variations <=============== */

:is(.block, .dropdown) .dull{
    background: var(--fg);
}

.border.info{
    color: var(--shd);
    font-size: var(--size-4);
}

/* ===============> a button which IS an icon <=============== */

:is(.primary, .accent, .warn, .dull, .border, .text).icon{
    width: fit-content;
    padding: var(--space-5);

    color: var(--shd);
    font-size: var(--size-5);
}
.shine.icon{ color: var(--txt); }

/* ==========> if button CONTAINS icon only <========== */

:is(.primary, .accent, .warn, .dull, .border, .text):has(> .icon):not(:has(> .label)){
    width: fit-content;
    padding: var(--space-5);
}

/* ==========> if button CONTAINS label only <========== */

:is(.primary, .accent, .warn, .dull, .border, .text):has(:is(.label, .icon)):has(:not(.icon)){ padding: var(--space-5) var(--space-9); }

/* ==========> if button CONTAINS icon and label <========== */

:is(.primary, .accent, .warn, .dull, .border, .text):has(:is(.label, .icon)):has(.icon){

    display: grid;
    grid-template-rows: 1fr;
}

/* if normal .icon is first child or */
/* if .swap.icon is last child */
:is(.primary, .accent, .warn, .dull, .border, .text):has(:is(.label, .icon)):has(:is(.icon:first-child, .icon.swap:last-child)){
    grid-template-columns: auto 1fr;
    grid-template-areas: 'icon label';
}
:is(.primary, .accent, .warn, .dull, .border, .text):has(:is(.label, .icon)):has(:is(.icon:first-child, .icon.swap:last-child)):not(.wfill){
    padding-inline: var(--space-5) var(--space-7);
}

/* if normal .icon is last child or */
/* if .swap.icon is first child */
:is(.primary, .accent, .warn, .dull, .border, .text):has(:is(.label, .icon)):has(:is(.icon:last-child, .icon.swap:first-child)){
    grid-template-columns: 1fr auto;
    grid-template-areas: 'label icon';
}
:is(.primary, .accent, .warn, .dull, .border, .text):has(:is(.label, .icon)):has(:is(.icon:last-child, .icon.swap:first-child)):not(.wfill){
    padding-inline: var(--space-7) var(--space-5);
}

/* ===============> disabled buttons <=============== */

:is(.primary, .accent, .warn, .dull, .border, .text).wfit{padding: var(--space-5);}

/* ===============> disabled buttons <=============== */

:is(.primary, .accent, .warn, .dull, .border, .text):is(:disabled, .disabled){
    cursor: not-allowed;
    opacity: 0.6;
}

:is(.primary, .accent, .warn, .dull, .border, .text)::before{
    transition: all var(--delay);
}


/* ===============> when a button is hovered <=============== */

@media (min-width: 480px){
    :is(.primary, .accent, .warn, .dull, .border, .text.circle):is(:not(:disabled, .disabled, .hover0, .dead))::before{
        z-index: 1; content: '';
        opacity: 0;
        position: absolute;
        top: 50%; left: 50%;
        translate: -50% -50%;
        width: 100%; height: 100%;
        background: rgba(255, 255, 255, 0.05);
        border-radius: var(--radius);
    }
    :is(.primary, .accent, .warn, .dull, .border, .text.circle):is(:not(:disabled, .disabled)):is(:hover, :focus)::before{ opacity: 1; }
    :is(.primary, .warn):is(:not(:disabled, .disabled))::before{  background: rgba(255, 255, 255, 0.12); }
    .text:is(:not(:disabled, .disabled, .circle)):is(:hover, :focus){ opacity: 0.6; }

    /* ===============> CC (Component Compatibility) <=============== */
    :is(.block, .dropdown):has(.dull) .dull::before{
        background: rgba(255, 255, 255, 0.1); }
    }
    :is(label.block, .dropdown):has(.dull):hover .dull::before{opacity: 0.5;}
    :is(.block, .dropdown):has(.dull) .dull:hover::before{opacity: 1;}

}

/* ===============> BUTTON EFFECTS <=============== */

:is(.primary, .accent, .warn, .dull, .border, .text).wfill{padding: var(--space-5);}
.dead, .active0{cursor: default;}

@media (min-width: 480px){
    .shine:is(:not(:disabled, .disabled, .hover0, .dead)):is(:hover, :focus){ scale: 1.02; }
    .shine:is(:not(:disabled, .disabled, .hover0, .dead))::after{
        z-index: 1;
        content: '';
        position: absolute;
        top: 50%; left: -150%;
        translate: 0 -50%;
        width: 100%; min-height: 100vh;
        background: linear-gradient(
            to right,
            transparent, transparent,
            hsla(0, 0%, 100%, 0.28),
            transparent, transparent
        );
        border-radius: var(--radius);
        rotate: 45deg;
        transition: all 500ms ease-in;
    }
    .shine:is(:not(:disabled, .disabled)):is(:hover, :focus)::after{ left: 150%; }

    .outline:is(:hover, :focus){ outline: 2px solid white; }
}

/* ===============> when a button is pressed <=============== */

:is(.primary, .accent, .warn, .dull, .border, .text):is(:not(:disabled, .disabled, .active0, .dead)):active{
    scale: 0.95;
}