/* ================== flex-row ================== */

.flex{
    display: flex;
    flex-direction: row;
}

/* ================== flex-column ================== */

.flexy{
    display: flex;
    flex-direction: column;
}

/* ================== layout ================== */

.layout-form{
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
}