/* =================> MODULES <================= */

/* .topic{
    position: relative;

    display: flex;
    align-items: center;
    gap: var(--spacing-small);

    .label {
        width: 100%;
        font-size: var(--size-large);
    }
}
label.topic > .label{
    cursor: pointer;
        
    color: var(--shd);
    font-size: var(--size-small);
} */

.topic{
    position: relative;
    cursor: pointer;

    display: grid;
    grid-template-rows: 1fr auto;
    grid-template-columns: auto 1fr auto;
    grid-template-areas:
    "icon label action"
    "icon info action";
    column-gap: var(--spacing-small);
    
    > .label{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    > .info{
        position: relative;
        overflow: auto;
        max-height: calc(var(--spacing-huge)*1.9);
    }
}

.action > input{display: none;}
.nolist {list-style-type: none;}

/* ================== BORDER-RADIUS ================== */

:has( > .capsule){ > .capsule { border-radius: 100px; } } 
:has( > :is(.sharp, .br0)){ > :is(.sharp, .br0) { border-radius: 0px; } } 
:has( > .circle){ 
    > .circle {
        height: 100%;
        aspect-ratio: 1 / 1;
        border-radius: 100%;
    }
}

/* =========================> OVERFLOW <========================= */

.snaplist{overflow: auto;}
.snaplistx{
    overflow-x: auto; 
    scroll-snap-type: inline mandatory;
}
.snaplisty{
    overflow-y: auto;
    scroll-snap-type: block mandatory;
}
.snaplist, .snaplistx, .snaplisty{
    display: flex;
    gap: var(--spacing-smaller);

    * {
        scroll-snap-align: start;
    }
}

/* =================> SOLID-BACKGROUNDS <================= */

.block, .highlight{
    display: flex;
    flex-direction: column;

    padding: var(--spacing-medium);
    border-radius: var(--radius);
}

.block{background: var(--mg);}
.block .block{background: var(--fg);}
.block .snippet{
    background: var(--fg);
    border-color: var(--fg);
}
form.block{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-small);

    width: 100%;
    max-width: 400px;
}
code.block{
    padding: 0;
    background: var(--mg);
    border-radius: var(--radius);

    > .topic{
        padding-inline: var(--spacing-medium) var(--spacing-small);

        > .label{
            user-select: none;

            padding-block: var(--spacing-small);
            font-size: var(--size-medium);
        }
    }

    > pre{
        padding-inline: var(--size-medium);
        padding-bottom: var(--size-medium);

        font-family: monospace;
        color: var(--shd);
    }
}
code.block:not(:hover) > .topic > .action {display: none;}

.snippet{
    width: fit-content;
    background: var(--mg);
    padding: var(--spacing-tiny) var(--spacing-smaller);
    border: var(--thickness) solid var(--fg);
    border-radius: var(--radius);
}

.highlight{
    background: var(--tritary);
    border: var(--thickness) solid var(--accent);
}
.highlight .snippet{
    background: var(--tritary); 
    border-color: var(--tritary);
}
.highlight .topic *{ color: var(--primary); }