/* ==============> BODY LAYOUT <============== */

.layout-nm{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
    "nav"
    "main";
}
.layout-nms{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
    "nav"
    "main"
    "aside";
}
.layout-nam{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr;
    grid-template-areas:
    "nav"
    "alert"
    "main";
}
.layout-nams{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr auto;
    grid-template-areas:
    "nav"
    "alert"
    "main"
    "aside";
}

/* ==============> GRID LAYOUT <============== */

.gridbox{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}