/* ========== SCALE ========== */

.fit{width: fit-content; height: fit-content;}
.fill{width: 100%; height: 100%;}

/* ========== WIDTH ========== */


.wfit{width: fit-content;}
.wfill{width: 100%;}

.wmax-mbl{max-width: 480px;}
.wmax-tab{max-width: 600px;}

/* ========== HEIGHT ========== */

.hfit{height: fit-content;}
.hfill{height: 100%;}