.alertbox{
    grid-area: alertbox;
    display: flex;
    align-items: center;
    gap: var(--space-4);
    background: var(--tritary);
    padding: 0.5em;
    max-height: var(--alertbox);
    overflow: auto;
    color: var(--shd);
    > *{ color: var(--shd); }
}
.alertbox::-webkit-scrollbar{display: none;}
.alertbox.error{
    background: var(--warn);
    > *{ color: var(--error); }
    color: var(--error);
}