/* ================== links ================== */

.link{
    color: var(--primary);
    text-decoration: none;
    position: relative;
    width: fit-content;
    outline: none;
}
.link:not(:has(> .link))::before{
    content: '';
    position: absolute;
    left: 0; bottom: 0;
    width: 0%; height: 8%;
    background: var(--primary);
    border-radius: var(--radius);

    transition: all var(--delay);
}
.link:is(:hover, :focus)::before{ width: 100%; }
.link:has(> .link){
    display: flex;
    align-items: center;
    justify-content: center;

    padding: var(--spacing-tiny);
    gap: var(--spacing-smaller);
    width: 100%;

    > *{font-size: var(--size-smaller);}
    > *:not(.link){color: var(--shd);}
}
.link:has(> .link):is(:hover, :focus){
    .link::before{ width: 100%; }
}
.link.info{
    margin: var(--spacing-tiny) auto;
    text-align: center;

    color: var(--primary);
    font-size: var(--size-small);
}

/* ================== label ================== */

.label{ grid-area: label; }
i.label{ font-style: normal; }

/* ================== error ================== */

.error{ color: var(--error); }

/* ================== info ================== */

.info{
    grid-area: info;
    font-style: normal;

    grid-area: info;
    color: var(--shd);
}
i.info, small.info{ font-size: var(--size-small); }
:is(ul.info, ol.info) > *{color: var(--shd);}

/* ================== text-gradient ================== */

.tgradient {
    background: linear-gradient(to right, #c20b85, red, blue, #c20b85);
    background-size: 200% 100%;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* ================== TEXT-ALIGN ================== */

.ta-c{text-align: center;}
.ta-e{text-align: end;}
.ta-j{text-align: justify;}
.ta-l{text-align: left;}
.ta-r{text-align: right;}
.ta-s{text-align: start;}