/* =========================> IMPORT <========================= */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/icon?family=Material+Icons+Round');

/* =========================> VARIABLES <========================= */

:root {
    --primary:  hsl(260, 68%, 40%);
    --accent:   hsla(260, 68%, 40%, 0.5);
    --tritary:  hsl(260, 68%, 40%, 0.25);

    --error:    hsl(0, 75%, 45%);
    --warn:     hsl(0, 75%, 45%, 0.28);

    --alertbox:     2.8em;
    --navbar:       4em;
    --toggle:       1.1em;
    --textarea:     4em;
    --thickness:    1px;
    --radius:       8px;
    --blur:         10px;
    --delay:        150ms;

    --size-tiny:     0.1em;
    --size-smaller:  0.75em;
    --size-small:    0.85em;
    --size-medium:   1em;
    --size-large:    1.25em;
    --size-larger:   1.5em;
    --size-big:      1.75em;
    --size-bigger:   2em;
    --size-huge:     2.25em;

    --spacing-tiny:     0.25em;
    --spacing-smaller:  0.35em;
    --spacing-small:    0.5em;
    --spacing-medium:   0.8em;
    --spacing-large:    1em;
    --spacing-larger:   1.25em;
    --spacing-big:      1.5em;
    --spacing-bigger:   1.75em;
    --spacing-huge:     2em;
}