nav, aside, .navbar{
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    padding-inline: var(--spacing-small);
    height: var(--navbar);

    > .navigator {
        position: relative;
        cursor: pointer;

        background: transparent;
        outline: none; border: none;

        display: flex;
        flex-direction: row;

        align-items: center;
        justify-content: center;

        gap: var(--spacing-small);

        min-width: var(--navbar);
        height: var(--navbar);
    }
    > .navigator:has(> .info){
        gap: 0;
        flex-direction: column;

        > .info{font-size: var(--size-smaller);}
    }
    >.navigator::before{
        z-index: -1;
        content: '';

        position: absolute;
        top: 50%; left: 50%;
        translate: -50% -50%;
        height: 100%; width: 100%;

        filter: blur(var(--blur));
        border-radius: var(--radius);

        transition: all var(--delay);
    }
    > .lead.navigator{
        padding-left: var(--spacing-small);
        padding-right: var(--spacing-medium);
        margin-right: auto;
    }
    > .navigator:hover::before{
        filter: blur(0px);
        height: 80%; width: 80%;
        background: var(--mg);
    }
    > .lead.navigator:hover::before{width: 100%;}
}

nav{ grid-area: nav; }
aside{ grid-area: aside; }